rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /snapshots/{env}/{type} {
      allow read: if type != "auth" && request.auth != null;
      allow write: if false;
    }
  }
}